.card-modal.modal-consist.mfp-hide(id="modal-consist")
    .consist-content
        h2.consist-content__title|Состав продукта
        h3.consist-content__post-title|Масло конопляное Extra Virgin
        hr
        h5|Состав:
        p|100% масло конопляное нерафинированное.

        h5|Пищевая ценность на 100 гр. продукта:
        p
            i|Ненасыщенные жирные кислоты:
        p|линоленовая кислота (Омега-3) - 16,73 гр.
        p|линоленовая кислота (Омега-6) - 50,93 гр.
        p|олеиновая кислота (Омега-9) - 9,42 гр.

        h5|Энергетическая ценность на 100 гр. продукта:
        p|900 ккал/3768 кДж.
        br
        br

        p
            |Конопляное масло получают из семечек конопли методом холодного отжима. Цвет - светло-зелёный, вкус - со слабовыраженной кислинкой и приятным ароматом.
            |Вплоть до середины XIX в. конопляное масло играло в рационе восточных славян ту же роль, какую сейчас играет подсолнечное, а жареные семена употреблялись вместо семечек.
        p
            |Семена растения, в отличие от соцветий и листьев, не содержат каннабиола, психотропного вещества, которое  оказывает наркотическое действие. Конопляное масло - уникальный пищевой продукт. Оно содержит большое количество ненасыщенных жирных кислот (линоленовая, олеиновая, а также стеариновая и пальмитиновая кислоты). Масло семечек конопли содержит ряд витаминов – А, группа В, Е, О, К. Также в состав данного продукта входят всевозможные  аминокислоты и микроэлементы. Конопляное масло содержит каротин, дубильные вещества и хлорофилл, который придает маслу зеленоватый цвет и обладает противоопухолевым действием. 
        p
            |Следует отметить, что масло конопляное является просто незаменимым для вегетарианцев или для людей, что соблюдают пост, поскольку оно помогает поддерживать человеческий организм в здоровом состоянии. 
        p
            |Применяется в кулинарии для заправки супов, соусов, в салаты, винегрет, тушеные овощи, каши и выпечку. Также широко используется в косметологии, медицине.
