$height_thumbs:13%;

.product-card .card-gallery {
    @include point_screen(1030){
        width: 55%;

        &.col-sm-6 {
            padding-right: 0;
        }
    }

    @include point_screen(875){
        width: 60%;
    }

    @include point_screen(680){
        width: 100%;
    }

    @include point_screen(680){
        $height_thumbs: 20%;
        .gallery-top {
            height: 100% - $height_thumbs;
            padding-bottom: 20px;
        }

        .gallery-bottom {
            height: $height_thumbs;
        }
    }
}

@include point_screen(800){
    button.mfp-arrow {
        display: none;
    }

    .mfp-container {
        &.mfp-image-holder {
            .mfp-title {
                // color: $neutral-secondary;
                color: #f3f3f3;
            }
            .mfp-counter {
                // color: $neutral-regular;
                color: #ccc;
            }
            .mfp-close {
                color: #f3f3f3;
            }
    
        }
    }
}