.card-gallery.col-sm-6

	.swiper-container.gallery-top.js-gallery-top
		.swiper-wrapper.gallery-preview-wrapper.js-preview-wrapper
			.swiper-slide.gallery__slide(style="background-image:url(/assets/img/card-gallery/oil-1.png)")
			.swiper-slide.gallery__slide(style="background-image:url(/assets/img/card-gallery/oil-2.jpg)")
			.swiper-slide.gallery__slide(style="background-image:url(/assets/img/card-gallery/Photo-intetnet-5.jpg)")
			.swiper-slide.gallery__slide(style="background-image:url(/assets/img/card-gallery/Photo-intetnet-7.jpg)")
			.swiper-slide.gallery__slide(style="background-image:url(/assets/img/card-gallery/Photo-intetnet-9.jpg)")
			.swiper-slide.gallery__slide(style="background-image:url(/assets/img/card-gallery/Photo-intetnet-17.jpg)")

	.gallery-bottom
		.swiper-button-prev.btn-thumbs-prev.js-btn-thumbs-prev

		.swiper-container.gallery-thumbs.js-gallery-thumbs
			.swiper-wrapper.gallery-thumbs-wrapper.js-thumbs-wrapper
				// Тут js-ом вставляются слайды из топа

		.swiper-button-next.btn-thumbs-next.js-btn-thumbs-next