.card-desc {
    &.col-sm-12,
    .col-sm-6 {
        padding: 0;
    }

    &__selects {
        display: flex;
        justify-content: center;

        margin-top: 3.5rem;
        margin-bottom: 6.75rem;

        .select-item {
            position: relative;
            display: flex;
            justify-content: center;

            width: calc((100% - 13.75rem) / 3);

            font-size: 1.4rem;
            font-weight: 600;
            font: $mainFontColor;

            &__text{
                cursor: pointer;

                display: inline-block;
                width: fit-content;

                transition: all .2s;
                &:hover {
                    opacity: .8;
                }
                &::after {
                    display: block;
                    content: "";
                    margin-top: 0.5rem;

                    width: 90%;
                    border: 1.5px solid;
                }
            }

            input {
                position: absolute;
                left: -9999px;
                &:checked + .select-item__text {
                    color: $success-color;
                }
            }

        }
    }

    .about-item {
        display: flex;
        // &__desc,
        // &__img {
        //     width: 50%
        // }

        &__desc {
            padding-left: 6.625rem;

            h3 {
                width: 20rem;
                margin-bottom: 2.3rem;

                color: $neutral-regular;
                letter-spacing: 1.5px;
                line-height: 2rem;
            }

            p {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.75rem;
                color: $neutral-secondary;
            }

            .desc-down {
                margin-top: 3.625rem;

                span {
                    color: $success-color;
                    font-weight: 700;
                    margin-right: 0.625rem;
                }

                a{
                    margin-left: 3rem;
                    text-decoration: none;
                    transition: all .2s;
                    span{
                        font-weight: 400;
                    }

                    &:hover{
                        opacity: .6;
                    }
                }

                img {
                    margin-right: 0.5rem;
                }
            }
        }

        &__img {
            position: relative;
            padding-left: 3.875rem;
            img{
                position: absolute;
                width: 100%;
                bottom: -2rem;
            }
        }

    }
}