// отступ от навигации
$mt_select: 108px;

.card-desc {
    position: relative;
    &.col-sm-12,
    .col-sm-6 {
        padding: 0;
    }

    &__selects {
        display: flex;
        justify-content: center;

        margin-top: 56px;

        .select-item {
            position: relative;
            display: flex;
            justify-content: center;

            width: calc((100% - 220px) / 3);

            font-size: rem(23px);
            font-weight: 600;
            font-family: "Bloc";
            letter-spacing: 2px;

            font: $mainFontColor;

            &__text{
                cursor: pointer;

                display: inline-block;
                width: fit-content;

                transition: all .2s;
                &:hover {
                    opacity: .8;
                }
                &::after {
                    display: block;
                    content: "";
                    margin-top: 8px;

                    width: 90%;
                    border-bottom: 3px solid;
                }
            }

            input {
                position: absolute;
                left: -9999px;
                &:checked + .select-item__text {
                    color: $success-color;
                }
            }

        }
    }

    &__about {
        display: none;
        .about-item {
            display: flex;
            margin-top: $mt_select;

            &__desc, &__img,
            &__youtube, &__behoof {
                width: 50%;
            }

            &__desc {
                padding-left: 106px;

                h3 {
                    width: 320px;
                    margin-bottom: 36px;

                    color: $neutral-regular;
                    letter-spacing: 1.5px;
                    line-height: 32px;
                    font-family: "Bloc";
                }

                p {
                    font-size: rem(14px);
                    font-weight: 400;
                    line-height: 28px;
                    color: $neutral-secondary;
                }

                .desc-down {
                    margin-top: 3.625rem;

                    span {
                        color: $success-color;
                        font-weight: 700;
                        margin-right: 10px;
                    }

                    a{
                        margin-left: 3rem;
                        text-decoration: none;
                        transition: all .2s;
                        span{
                            font-weight: 400;
                        }

                        &:hover{
                            opacity: .6;
                        }
                    }

                    img {
                        margin-right: 8px;
                    }
                }
            }
            &__img {
                position: relative;
                padding-left: 62px;
                img{
                    position: absolute;
                    width: 100%;
                    bottom: -32px;
                }
            }

            &__youtube {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                height: 359px;
                border-radius: 8px;

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                .video-title {
                    position: relative;

                    a,p {
                        display: block;
                        color: $default-color;
                    }
                    .video-play {
                        height: 64px;
                        width: 64px;
                        margin:auto;

                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;

                        transition: all .2s;
                        &:hover{
                            transform: scale(1.1);
                            opacity: .8;
                        }
                        &:active {
                            transform: scale(0.95);
                            opacity: .9;
                        }
                    }
                    p {
                        margin-top: 26px;

                        font-size: rem(20px);
                        font-weight: 400;
                        font-family: "Bloc";

                        letter-spacing: 1.3px;
                        line-height: 32px;
                    }
                }

                &::before {
                    position: absolute;
                    content: " ";
                    height: 100%;
                    width: 100%;

                    border-radius: 8px;
                    background-color: rgba(99, 213, 68, 0.61);
                    opacity: 0.47;
                }
            }
            &__behoof {
                display: flex;
                align-items: center;

                padding-left: 132px;

                color:$neutral-regular;
                font-size: rem(14px);
                font-weight: 400;
                line-height: 23px;

                ul {
                    
                }

                li {
                    margin-bottom: 18px;
                    &:nth-last-of-type(1) {
                        margin: 0;
                    }
                }
            }
        }
    }

    &__recipes {
        display: none;

        margin-top: $mt_select;

        .recipes__wrapper{
            display: flex;
        }

        .info-block{
            padding-left: 9px;
            color:$neutral-secondary;
        }

        .recipes-item {
            width: calc((100% - 26px * 2) / 3);
            margin-right: 26px;

            text-decoration: none;
            transition: all .3s;

            &:nth-last-of-type(1){
                margin-right: 0;
            }

            &:hover {
                opacity: .8;
            }

            .item-img {
                width:100%;
                height: 224px;

                border-radius: 8px;

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        .item-prop {
            display: flex;
            width: 100% * 2/3;
            min-width: 240px;

            margin-bottom: 26px;
            margin-top: 26px;
            padding: 9px 14px;

            border-radius: 5px;
            background-color: #f5f7f8;


            .div {
                display: inline-block;
                flex:1;
            }

            img{
                margin-right: 8px;
            }

            span {
                margin-right: 4px;
            }
        }
        .item-title{
            margin-bottom: 16px;
            color: darken($success-color, $amount: 10%);
            text-transform: uppercase;
            font-family: "Bloc";
            font-size: rem(18px);
            font-weight: 400;
            letter-spacing: 1.17px;
            line-height: 19px;
        }

        .item-text {
            font-size: rem(13px);
            font-weight: 400;
            line-height: 23px;
            color: darken($neutral-secondary, $amount: 10%);
            font-family: Montserrat,Helvetica,Arial,sans-serif;

            span {
                font-size: rem(15px);
                font-weight: 700;
                color:$success-color;
            }
        }

        .btn__wrapper {
            display: flex;
            justify-content: center;
        }
        .product-card__btn {
            margin-top: 48px;
            padding: 16px 52px;

            border: 2px solid;
            box-shadow: none;
            color: darken($success-color, $amount: 10%);
            font-size: rem(16px);
            font-weight: 400;
            line-height: 20px;
            &:hover {
                box-shadow: 0 3px 30px rgba(68, 193, 35, 0.2);
                opacity: .8;
            }
            &:active {
                transform: scale(.95);
                box-shadow: 0 3px 30px rgba(68, 193, 35, 0.6);
            }
        }
    }

    &__reviews {
        display:none;
        position: relative;
        margin-top: $mt_select;
        padding: 44px 48px 60px 55px;

        box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
        font-size: rem(14px);

        // Голова отзывов
        h3 {
            font-weight: 700;
        }
        
        a { 
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }

        .reviews-head {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .reviews-head__title,
        .reviews-head,
        .star-rating,
        .num-rews {
            display: flex;
            align-items: center;
        }

        .reviews-head__title {
            margin-right: 30px;
        }

        .star-rating,
        .num-rews {
            color: lighten($neutral-secondary, $amount: 10%);
            font-weight: 700;
        }

        .star-rating{
            margin-left: 48px;
            span {
                margin-left: 8px;
            }
        }

        .num-rews {
            margin-left: 38px;
            img {
                margin-right: 8px;
            }
        }

        .product-card__btn {
            padding: 16px 36px;

            background-color: $success-color;
            color:$default-color;

            font-size: rem(16px);
            font-weight: 400;
            line-height: 20px;
            &:hover {
                box-shadow: 0 3px 30px rgba(68, 193, 35, 0.5);
                // opacity: .8;
            }
            &:active {
                box-shadow: 0 3px 30px rgba(68, 193, 35, 0.8);
                transform: scale(.95);
            }
        }
        // ----END----Голова отзывов

        // Отзывы
        .reviews-wrapper {

        }
        .rew-item {
            position: relative;
            display: flex;
            margin-top: 48px;

            .item__rating {
                // min-width: max-content;
                width: 128px;
            }
            .star-rating {
                margin: 0;
                width: max-content;
            }
            .rew-date {
                width: max-content;
                margin-top: 14px;
                color:$neutral-secondary;
            }

            .read-more {
                position: absolute;
                bottom: -24px;
                right: 0;

                font-size: rem(14px);
                font-weight: 700;

                color:$neutral-secondary;
                text-decoration: none;

                transition: all .2s;
                &:hover {
                    opacity: .7;
                }
            }
        }

        .item__text {
            padding-left: 40px;
            width: calc(100%-8rem);
        }
        .user-name {
            font-size: rem(18px);
            color:$neutral-primary;
        }
        .user-text {
            margin-top: 26px;
            color: $neutral-regular;

            font-size: rem(14px);
            font-weight: 400;
            line-height: 28px;
        }
    }
}

@import './card-desc.resp.scss';