.card-desc {
    &__selects {
        display: flex;
        justify-content: center;

        margin-top: 3.5rem;
        margin-bottom: 6.75rem;

        .select-item {
            position: relative;
            display: flex;
            justify-content: center;

            width: calc((100% - 13.75rem) / 3);

            font-size: 1.4rem;
            font-weight: 600;
            font: $mainFontColor;

            &__text{
                cursor: pointer;

                display: inline-block;
                width: fit-content;

                transition: all .2s;
                &:hover {
                    opacity: .8;
                }
                &::after {
                    display: block;
                    content: "";
                    margin-top: 0.5rem;

                    width: 90%;
                    border: 1.5px solid;
                }
            }

            input {
                position: absolute;
                left: -9999px;
                &:checked + .select-item__text {
                    color: $success-color;
                }
            }

        }
    }

    .about-item {
        display: flex;
    }
}