// отступ от навигации
$mt_select: 6.75rem;

.card-desc {
    &.col-sm-12,
    .col-sm-6 {
        padding: 0;
    }

    &__selects {
        display: flex;
        justify-content: center;

        margin-top: 3.5rem;

        .select-item {
            position: relative;
            display: flex;
            justify-content: center;

            width: calc((100% - 13.75rem) / 3);

            font-size: 1.4rem;
            font-weight: 600;
            font-family: "Bloc";
            letter-spacing: 0.125rem;

            font: $mainFontColor;

            &__text{
                cursor: pointer;

                display: inline-block;
                width: fit-content;

                transition: all .2s;
                &:hover {
                    opacity: .8;
                }
                &::after {
                    display: block;
                    content: "";
                    margin-top: 0.5rem;

                    width: 90%;
                    border: 1.5px solid;
                }
            }

            input {
                position: absolute;
                left: -9999px;
                &:checked + .select-item__text {
                    color: $success-color;
                }
            }

        }
    }

    &__about {
        display: none;
        .about-item {
            display: flex;
            margin-top: $mt_select;

            &__desc, &__img,
            &__youtube, &__behoof {
                width: 50%;
            }

            &__desc {
                padding-left: 6.625rem;

                h3 {
                    width: 20rem;
                    margin-bottom: 2.3rem;

                    color: $neutral-regular;
                    letter-spacing: 1.5px;
                    line-height: 2rem;
                    font-family: "Bloc";
                }

                p {
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.75rem;
                    color: $neutral-secondary;
                }

                .desc-down {
                    margin-top: 3.625rem;

                    span {
                        color: $success-color;
                        font-weight: 700;
                        margin-right: 0.625rem;
                    }

                    a{
                        margin-left: 3rem;
                        text-decoration: none;
                        transition: all .2s;
                        span{
                            font-weight: 400;
                        }

                        &:hover{
                            opacity: .6;
                        }
                    }

                    img {
                        margin-right: 0.5rem;
                    }
                }
            }
            &__img {
                position: relative;
                padding-left: 3.875rem;
                img{
                    position: absolute;
                    width: 100%;
                    bottom: -2rem;
                }
            }

            &__youtube {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                height: 359px;
                border-radius: 8px;

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                .video-title {
                    position: relative;

                    a,p {
                        display: block;
                        color: $default-color;
                    }
                    .video-play {
                        height: 4rem;
                        width: 4rem;
                        margin:auto;

                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;

                        transition: all .2s;
                        &:hover{
                            transform: scale(1.1);
                            opacity: .8;
                        }
                        &:active {
                            transform: scale(0.95);
                            opacity: .9;
                        }
                    }
                    p {
                        margin-top: 1.625rem;

                        font-size: 1.25rem;
                        font-weight: 400;
                        font-family: "Bloc";

                        letter-spacing: 1.3px;
                        line-height: 2rem;
                    }
                }

                &::before {
                    position: absolute;
                    content: " ";
                    height: 100%;
                    width: 100%;
                    background-color: rgba(99, 213, 68, 0.61);
                    opacity: 0.47;
                }
            }
            &__behoof {
                display: flex;
                align-items: center;

                padding-left: 8.25rem;

                color:$neutral-regular;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.4375rem;

                ul {
                    list-style-image: url(/assets/img/card-desc/marker-circle.svg);
                }

                li {
                    margin-bottom: 1.125rem;
                    &:nth-last-of-type(1) {
                        margin: 0;
                    }
                }
            }
        }
    }

    &__recipes {
        display: none;

        margin-top: $mt_select;

        .recipes__wrapper{
            display: flex;
        }

        .info-block{
            padding-left: 9px;
            color:$neutral-secondary;
        }

        .recipes-item {
            width: (100%/3);
            margin-right: 26px;

            .item-img {
                width:100%;
                height: 224px;

                border-radius: 8px;

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        .item-prop {
            display: flex;
            width: 100% * 2/3;
            min-width: 15rem;

            margin-bottom: 1.625rem;
            margin-top: 1.625rem;
            padding: 9px 14px;

            border-radius: 5px;
            background-color: #f5f7f8;


            .div {
                display: inline-block;
                flex:1;
            }

            img{
                margin-right: 0.5rem;
            }

            span {
                margin-right: 4px;
            }
        }
        .item-title{
            margin-bottom: 1rem;
            color: darken($success-color, $amount: 10%);
            text-transform: uppercase;
            font-family: "Bloc";
            font-size: 1.125rem;
            font-weight: 400;
            letter-spacing: 1.17px;
            line-height: 1.1875rem;
        }

        .item-text {
            font-size: 0.8125rem;
            font-weight: 400;
            line-height: 1.4375rem;
            color: darken($neutral-secondary, $amount: 10%);
            font-family: Montserrat,Helvetica,Arial,sans-serif;

            span {
                font-size: 0.9375rem;
                font-weight: 700;
                color:$success-color;
            }
        }

        .btn__wrapper {
            display: flex;
            justify-content: center;
        }
        .product-card__btn {
            margin-top: 3rem;
            padding: 1rem 3.25rem;

            border: 2px solid;
            box-shadow: none;
            color: darken($success-color, $amount: 10%);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25rem;
            &:hover {
                box-shadow: 0 3px 30px rgba(68, 193, 35, 0.2);
                opacity: .8;
            }
            &:active {
                transform: scale(.95);
                box-shadow: 0 3px 30px rgba(68, 193, 35, 0.6);
            }
        }
    }

    &__reviews {
        display:none;
        position: relative;
        margin-top: $mt_select;
        padding: 44px 48px 60px 55px;

        box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
        font-size: 0.875rem;

        // Голова отзывов
        h3 {
            font-weight: 700;
        }

        .reviews-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .reviews-head__title,
        .reviews-head,
        .star-rating,
        .num-rews {
            display: flex;
            align-items: center;
        }

        .star-rating,
        .num-rews {
            color: lighten($neutral-secondary, $amount: 10%);
            font-weight: 700;
        }

        .star-rating{
            margin-left: 3rem;
            span {
                margin-left: 0.5rem;
            }
        }

        .num-rews {
            margin-left: 2.375rem;
            img {
                margin-right: 0.5rem;
            }
        }

        .product-card__btn {
            padding: 1rem 2.25rem;

            background-color: $success-color;
            color:$default-color;

            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25rem;
            &:hover {
                box-shadow: 0 3px 30px rgba(68, 193, 35, 0.5);
                // opacity: .8;
            }
            &:active {
                box-shadow: 0 3px 30px rgba(68, 193, 35, 0.8);
                transform: scale(.95);
            }
        }
        // ----END----Голова отзывов

        // Отзывы
        .reviews-wrapper {

        }
        .rew-item {
            position: relative;
            display: flex;
            margin-top: 3rem;

            .item__rating {
                // min-width: max-content;
                width: 8rem;
            }
            .star-rating {
                margin: 0;
                width: max-content;
            }
            .rew-date {
                width: max-content;
                margin-top: 0.875rem;
                color:$neutral-secondary;
            }

            .read-more {
                position: absolute;
                bottom: -0.875rem;
                right: 0;

                font-size: 0.875rem;
                font-weight: 700;

                color:$neutral-secondary;
                text-decoration: none;

                transition: all .2s;
                &:hover {
                    opacity: .7;
                }
            }
        }

        .item__text {
            padding-left: 2.5rem;
            width: calc(100%-8rem);
        }
        .user-name {
            font-size: 1.125rem;
            color:$neutral-primary;
        }
        .user-text {
            margin-top: 1.625rem;
            color: $neutral-regular;

            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.75rem;
        }
    }
}