.card-desc.col-sm-12
    .card-desc__selects
        .select-item
            input(type="radio", name="card-desc", id="select-item-1" checked)
            label.select-item__text(for="select-item-1")|О товаре
        .select-item
            input(type="radio", name="card-desc", id="select-item-2")
            label.select-item__text(for="select-item-2")|Рецепты
        .select-item
            input(type="radio", name="card-desc", id="select-item-3")
            label.select-item__text(for="select-item-3")|Отзывы
    .card-desc__about
        .about-item
            .about-item__desc
            .about-item__img
