.card-desc.col-sm-12
    .card-desc__selects
        .select-item
            input(type="radio", name="card-desc", id="select-item-1" checked)
            label.select-item__text(for="select-item-1")|О товаре
        .select-item
            input(type="radio", name="card-desc", id="select-item-2")
            label.select-item__text(for="select-item-2")|Рецепты
        .select-item
            input(type="radio", name="card-desc", id="select-item-3")
            label.select-item__text(for="select-item-3")|Отзывы
    .card-desc__about
        .about-item
            .about-item__desc.col-sm-6
                h3|Произведено из отборных семян конопли

                p|  Методом холодного отжима, обладает теплым жёлтым цветом,
                    |изысканным ореховым вкусом и нежным приятным ароматом.
                    |Благодаря методу холодного отжима конопляное масло – один
                    |из ценнейших продуктов по балансу витаминов и аминокислот.
                    |Является дополнительным источником жиров для людей, которые
                    |не употребляют в пищу мясо.

                p.desc-down
                    span
                        img(src="/assets/img/card-desc/license.svg", alt="")
                        |Лицензия товара 
                    ||
                    span
                    |1,2 Мб
                    a(href="#", target="_blank")
                        span
                            img(src="/assets/img/card-desc/arrow_down.svg", alt="")
                            |Скачать

            .about-item__img.col-sm-6
                img(src="/assets/img/card-desc/seeds.png", alt="")
