.card-desc {
    @include point_screen(1180) {
        &__about {
            .about-item {
                &__img{
                    padding-left: 0;
                }
                &__youtube {
                    height: 28vw;
                }
            }
        }
    }

    @include point_screen(1080) {
        &__about {
            .about-item {
                &__desc{
                    width: 60%;
                    padding-right: 20px;
                }

                &__img{
                    width: 40%;
                }

                &__behoof {
                    padding-left: 90px;
                }
            }
        }
    }

    @include point_screen(980) {
        &__about {
            .about-item {
                margin-top: 70px;
                &__desc{
                    padding-left: 50px;
                }

                &__img{
                    img {
                        bottom: 30px;
                    }
                }
            }
        }
        &__recipes {
            margin-top: 60px;
            .recipes-item {
                .item-img {
                    height: 19vw;
                }
            }
        }
        &__reviews {
            margin-top: 60px;
        }
    }

    @include point_screen(880) {
        &__about {
            .about-item {
                &__img{
                    img {
                        position: relative;
                        width: 100%;
                        bottom: unset;
                    }
                }

                &__behoof {
                    padding-left: 50px;
                    line-height: 18px;
                }
            }
        }
    }

    @include point_screen(839) {
        &__reviews {
            .reviews-head {
                display: block;
                text-align: end;
            }
            
            .product-card__btn {
                margin-top: 20px;
            }
        }
    }

    @include point_screen(790) {
        &__about {
            .about-item {
                &__youtube {
                    margin-left: 40px;
                    width: calc(50% - 40px);
                }
            }
        }
        &__recipes {
            .recipes__wrapper{
                flex-wrap: wrap;
            }

            .recipes-item{
                width: 100%;
                margin-right: 0;
                margin-bottom: 60px;
                padding: 0 100px;
                .item-img {
                    height: 35vw;
                }
                &:nth-last-of-type(1){
                    margin-bottom: 0;
                }
            }

            .info-block{
                padding-left: 0;
                width: 80%;
            }

            .item-prop {
                width: 100%;
                span {
                    margin-right: 15px;
                }
            }
        }
        &__reviews {
            margin-right: 40px;
            margin-left: 40px;
        }
    }

    @include point_screen(700) {
        &__about {
            .about-item {
                &__youtube {
                    height: 49vw;
                    width: 100%;

                    margin: 0 40px;
                }
                &__behoof {
                    width: 100%;

                    margin-top: 40px;
                    padding-left: 60px;
                    padding-right: 40px;
                }

                &:nth-last-of-type(1){
                    flex-wrap: wrap;
                }
            }
        }

        &__reviews {
            margin-right: 0;
            margin-left: 0;
        }
    }

    @include point_screen(680) {
        &__about {
            .about-item {
                &__desc{
                    width: 70%;
                    padding-left: 40px;
                }
            }
        }
    }

    @include point_screen(648) {
        &__selects {
            justify-content: space-around;
            margin-top: 80px;
        }
    }

    @include point_screen(550) {
        &__about {
            .about-item {
                &__desc{
                    width: 100%;
                }

                &__img{
                    height: max-content;
                    position: absolute;
                    right: 0;
                    top: 0;

                    opacity: .7;
                    z-index: -1;
                }
            }
        }
        &__recipes {
            .recipes-item{
                padding: 0 30px;
                .item-img {
                    height: 45vw;
                }
            }
        }
        &__reviews {
            padding: 40px;
            .reviews-head__title {
                margin-right: 0;
            }

            .star-rating,
            .num-rews {
                margin-left: 20px;
            }

            .item__text {
                padding-left: 0;
            }
        }
    }

    @include point_screen(460) {
        &__about {
            .about-item {
                &__img{
                    top: 30px;
                }
            }
        }
        &__reviews {
            h3 {
                display: block;
                margin-bottom: 10px;
            }
            .reviews-head__title {
                display:block;
                text-align: left;
            }
            .star-rating {
                margin-left: 0;
                display: inline-block;
            }
            .num-rews {
                display: inline-block;
            }
        }
    }

    @include point_screen(420) {
        &__selects {
            .select-item {
                width: calc((100%)/3);
            }
        }

        &__about {
            .about-item {
                &__img{
                    top: 50px;
                }
            }
        }

        &__reviews {
            .rew-item{
                display: block;
                
                .item__rating {
                    width: 100%;
                }
                .rew-date {
                    display: inline-block;
                    margin-top: 0;
                    margin-left: 15px;
                }
                .item__text {
                    width: 100%;
                    margin-top: 15px;

                    .user-text {
                        margin-top: 16px;
                    }
                }
            }
        }
    }

    @include point_screen(400) {
        &__recipes {
            .info-block{
                width: 100%;
            }
        }
    }

    @include point_screen(340) {
        &__about {
            .about-item {
                &__img{
                    top: 70px;
                }
            }
        }
    }

    @include point_screen(310) {
        &__about {
            .about-item {
                &__desc{
                    h3 {
                        width: 100%;
                    }
                }
            }
        }
    }
    
    @include point_screen(260) {
        &__about {
            .about-item {
                &__img{
                    top: 100px;
                }
            }
        }
    }

    @include point_screen(250){
        &__about {
            .about-item {
                &__youtube {
                    .video-title {
                        p {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    @include point_screen(220){
        &__about {
            .about-item {
                &__youtube {
                    .video-title {
                        p {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        &__recipes{
            .item-prop{
                span{
                    margin-right: 0;
                }
            }
        }
    }
}