.product-card {
    box-sizing: border-box;
    position: relative;

    font-family: "HelveticaRegular";

    h2,
    .h2{
        color: #111111;
        font-size: 23px;
        font-weight: 700;
        line-height: 28px;
    }
}

//Components Block
@import './card-gallery/card-gallery.scss';
@import './card-buy-info/card-buy-info.scss';