.container {
    margin-top: 30px;
    margin-bottom: 30px;
    @include point_screen(790){
        padding: 0 10px;
    }
}

.product-card {
    box-sizing: border-box;
    position: relative;

    font-family: $mainFontFamily;

    h2,
    .h2{
        color: #111111;
        font-size: rem(23px);
        font-weight: 700;
        line-height: 28px;
    }

    h3,
    .h3 {
        font-size: rem(23px);
        font-weight: 400;
    }

    h5,
    .h5 {
        font-size: rem(13px);
        color: $success-color;
        font-weight: 700;

        padding-top: 15px;
        padding-bottom: 11px;
    }

    p,
    .p{
        font-size: rem(13px);
        color: $neutral-regular;
    }

    &__btn {
        display: inline-block;
        text-align: center;

        cursor: pointer;
        user-select: none;

        box-shadow: 0 3px 30px rgba(0, 0, 0, 0.13);
        border-radius: 6px;
        color: $neutral-regular;
        font-size: rem(14px);

        padding: 10px 15px;
        min-width: 80px;

        transition: all .2s;

        &:hover{
            // background-color: lighten($success-color, $amount: 20%);
            box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
            color: lighten($neutral-regular, $amount: 20%);
        }

        // &.active {
        //     background-color: $success-color;
        //     color: $default-color;
        // }
    }
}

.mfp-bg {
    background: #fff;
    opacity: .5;
}

.mfp-container {
    &.mfp-image-holder {
        .mfp-title {
            // color: $neutral-secondary;
            color: $neutral-regular;
        }
        .mfp-counter {
            // color: $neutral-regular;
            color: $neutral-secondary;
        }
        .mfp-close {
            color: inherit;
        }

    }
    &.mfp-iframe-holder {
        .mfp-close {
            color: inherit;
        }
    }
}

//Components Block
@import './card-gallery/card-gallery.scss';
@import './card-buy-info/card-buy-info.scss';
@import './card-offers/card-offers.scss';
@import './card-desc/card-desc.scss';
@import './card-addition/card-addition.scss';
@import './card-modal/card-modal.scss';

.card-gallery {
    display: none;
}
.card-buy-info {
    display: none;
}
.card-offers {
    display: none;
}
.card-desc {
    // display: none;
}
.card-addition {
    display: none;
}
.card-modal {
    // display: none;
}