//- .container.product-card.js-product-card
.product-card.js-product-card
	// галерея-слайдер
	include ./card-gallery/card-gallery.pug
	// end - галерея-слайдер
	//

	// меню товара
	include ./card-buy-info/card-buy-info.pug
	// end - галерея-слайдер
	//

	// торговые предложения
	include ./card-offers/card-offers.pug
	// end - торговые предложения
	//

	// описание продукта
	include ./card-desc/card-desc.pug
	// end описание продукта
	//

	// дополнительные товары
	include ./card-addition/card-addition.pug
	// end дополнительные товары
	//

	// модальные окна
	include ./card-modal/card-modal.pug
	// end модальные окна
	//