.product-card#app
	// head 
	include ./card-gallery/card-gallery.pug
	include ./card-buy-info/card-buy-info.pug
	include ./card-offers/card-offers.pug
	// end - head 

	// description product
	include ./card-desc/card-desc.pug
	// end description product