.card-offers.col-sm-12
    .card-offers__text|с этим товаром часто покупают:

    .card-offers__item
        .item-img(style="background-image: url(/assets/img/card-offers/oil.png)")
        .item-title|Масло конопляное Extra Virgin
        .item-price|320 руб.

    .card-offers__item
        .item-img(style="background-image: url(/assets/img/card-offers/hemp-shape-2.png)")
        .item-title|Конопляное мыло «HempShape»
        .item-price|190 руб.

    .card-offers__item
        .item-img(style="background-image: url(/assets/img/card-offers/hemp-fiber.png)")
        .item-title|Клетчатка из семян конопли
        .item-price|80 руб.

    .card-offers__item
        .item-img(style="background-image: url(/assets/img/card-offers/bath-bomb.png)")
        .item-title|Бомбочка для ванны «HempShape»
        .item-price|390 руб.
    
    .card-offers__price
        .price-sale
            .price-new|900 руб.
            .price-old|980 руб.
        button.product-card__btn
            img(src="/assets/img/card-offers/cart.svg", alt="")
            |Добавить в корзину
