.card-offers {
    position: relative;
    display: flex;
    align-items: flex-end;
    // justify-content: space-between;

    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 16px 0 23px 46px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
    background-color: $default-color;
    border-radius: 8px;

    // height: 208px;

    &__text {
        width: 11rem;
        margin-right: 3.5rem;
        margin-bottom: 4rem;

        font-size: 1.25rem;
        font-weight: 400;
        font-family: "Bloc";
        letter-spacing: 1.3px;
        line-height: 1.75rem;
        color: $success-color;
    }

    &__item {
        position: relative;

        display: flex;
        align-items: end;
        flex-direction: column;

        color: #111111;

        width:11.5%;
        max-width:15%;

        margin-right: 32px;

        .item-img {
            width: 100%;
            height: 6rem;

            margin-bottom: 0.5rem;

            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .item-title {
            font-size: 0.8125rem;
            margin-bottom: 0.5rem;
        }
        .item-price {
            font-weight: 700;
        }

        &::before {
            position: absolute;

            width: 1.1875rem;
            height: 1.1875rem;
            bottom: 109px;
            right: -20px;

            content: "";
            background-image: url(/assets/img/card-offers/plus.svg);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:nth-last-of-type(2)::before {
            position: absolute;

            width: 1.1875rem;
            height: 1.1875rem;

            bottom: 109px;
            right: -15px;

            content: "";
            background-image: url(/assets/img/card-offers/equally.svg);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width:20%;

        padding: 0 10px 0 5px;

        .price-sale {
            display: flex;
            justify-content: space-between;
            width: 100%;

            font-size: 1.4375rem;
            font-weight: 700;

            margin-bottom: 1.8125rem;
            .price-new {
                color:$success-color;
            }
            .price-old {
                color:$neutral-placeholder;
                text-decoration: line-through;
            }
        }
        .product-card__btn {
            font-size: 0.6875rem;
            font-weight: 700;
            color:$success-color;
            background-color: $default-color;

            width: 90%;

            margin-bottom: 1.875rem;
            // padding: 10px 29px;
            img {
                margin-right: 0.5rem;
                width: 1.125rem;
            }

            &:active {
                transform: scale(.95);
                box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
            }
        }
    }

    &::after {
        position: absolute;
        z-index: -2;

        width: 369px;
        height: 269px;

        top: -100px;
        right: -20px;

        content: "";
        background-image: url(/assets/img/card-offers/hemp-leaves.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &::before {
        position: absolute;
        z-index: -2;

        bottom: -65px;
        left: 132px;

        width: 269px;
        height: 210px;

        content: "";
        background-image: url(/assets/img/card-offers/hemp-leaves-2.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}