.product-card .card-buy-info {
    @include point_screen(1030){
        width: 45%;

        .block-prop{
            &__size{
                z-index: 10;
            }
        }
    }

    @include point_screen(950){
        $kfs: kfs(950);

        .star-rating {
            display: block;
            margin-left: 0;
        }

        .block-desc{
            &__title-card{
                margin-bottom: 23px * $kfs;
            }
        }

        .block-prop{
            margin-top: 52px * $kfs;
            &__size{
                margin-bottom: 19px * $kfs;
            }
            &__num{
                margin-bottom: 39px * $kfs;
            }
        }

        .block-submit{
            margin-top: 44px * $kfs;
        }
    }

    @include point_screen(875){
        width: 40%;

        .block-desc{
            &__title-card{
                margin-bottom: 5px;
            }
        }

        .block-prop{
            margin-top: 30px;
            // &__size{
            //     margin-bottom: 19px * $kfs;
            // }
            // &__num{
            //     margin-bottom: 39px * $kfs;
            // }
        }

        .block-submit{
            margin-top: 0;
            .product-card__btn{
                padding: 19px 30px;
            }
        }
    }

    @include point_screen(825){
        .block-submit{
            .payment{
                width: 40px;
                height: 30px;
            }
        }
    }

    @include point_screen(750){
        .block-prop{
            margin-top: 20px;

            &__num{
                margin-bottom: 15px;
            }
        }

        .block-submit{
            .product-card__btn{
                padding: 20px;
                margin: 10px;
                margin-left: 0;
            }
        }
    }

    @include point_screen(680){
        width: 100%;
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .block-desc{
            text-align: center;
            .star-rating{
                margin-top: 10px;
                img {
                    width: 20px;
                }
            }
        }

        .block-prop{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .block-submit{
            margin-top: 20px;
            .product-card__btn{
                padding: 20px 40px;
                margin: 10px 30px 10px 0;
            }
        }
    }
}