form.card-buy-info.col-sm-6
    .block-desc
        h2.block-desc__title-card|Масло конопляное Extra Virgin
            span.star-rating(data-rating="4")|****

        p.block-desc__title|Состав
        p|100% Масло конопляное нерафинированное.

        p.block-desc__title|Пищевая ценность на 100 гр. продукта
        p|Линоленовая кислота (Омега-3) - 16,73 гр.
        p|Линоленовая кислота (Омега-6) - 50,93 гр.
        p|Олеиновая кислота (Омега-9) - 9,42 гр.

        p.block-desc__title|Энергетическая ценность на 100 гр. продукта
        p|900 ккал/3768 кДж.

        a(href="#").block-desc__link|Подробнее &rarr;

    .block-prop
        .block-prop__size
            .div
                input.js-prop__size(type="radio", name="prop-size" id="prop1" data-price="200")
                label.product-card__btn(for="prop1")|100 мл.
            .div
                input.js-prop__size(type="radio", name="prop-size" id="prop2" data-price="340" checked)
                label.product-card__btn(for="prop2")|250 мл.
            .div
                input.js-prop__size(type="radio", name="prop-size" id="prop3" data-price="1156")
                label.product-card__btn(for="prop3")|250 мл. x 4
            .div
                input.js-prop__size(type="radio", name="prop-size" id="prop4" data-price="2999")
                label.product-card__btn(for="prop4")|3 л.

        .block-prop__size
            input(type="radio", name="")

        .block-prop__num
            .btn-num.js-btn-num(data-type="-")
                img(src="/assets/img/card-buy-info/minus.svg", alt="")

            input.num-value.js-num-value(type="text" name="num" value="1" disabled)

            .btn-num.js-btn-num(data-type="+")
                img(src="/assets/img/card-buy-info/plus.svg", alt="")

    .block-price.js-block-price|Итого:
        span|340 руб.

    .block-submit.js-block-submit
        button.product-card__btn(type="submit")|В корзину
        .payment(style="background-image:url(/assets/img/card-buy-info/apple_pay.png)")
        .payment(style="background-image:url(/assets/img/card-buy-info/google_pay.png)")
        .payment(style="background-image:url(/assets/img/card-buy-info/mastercard.png)")






